<div class="container search-bar">
    <!-- search bar -->
    <div class="search-bar-outer">
        <div class="search-bar-inner">
            <form action="/restaurants">
                <div class="d-flex justify-content-between">
                    <h4 class="mb-2 my-2" style="display: inline;">尋找餐廳：</h4>
                    <a href="/restaurants/new" class="creat-button btn btn-primary mb-2">Create</a>
                </div>
                <div class="input-group">
                    <input type="text" name="keyword" value="{{keyword}}" class="form-control" placeholder="輸入餐廳、分類"
                        aria-label="Restaurant Name..." value="" aria-describedby="search-button">
                    <div class="input-group-append">
                        <button class="btn btn-major" type="submit" id="search-button"><i
                                class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- search bar -->

    {{!-- 分類器 --}}
    <div class="form-group mb-4">
        <form class="sortForm" action="/restaurants" method="get">
            <select name="sortArrangement" id="sortArrangement" onchange="document.querySelector('.sortForm').submit()">
                <option value="ASC" {{#if (sort sortValue "ASC")}} selected {{/if}}>A -> Z</option>
                <option value="DESC" {{#if (sort sortValue "DESC")}} selected {{/if}}>Z -> A</option>
                <option value="category" {{#if (sort sortValue "category")}} selected {{/if}}>類別</option>
                <option value="location" {{#if (sort sortValue "location")}} selected {{/if}}>地區</option>
            </select>
            <noscript><input type="submit" value="Submit"></noscript>
        </form>
        
    </div>
    {{!-- 分類器 --}}
</div>



<!-- restaurant list -->
<div class="container mt-5">

    {{> message}}

    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row row-cols-sm-3">

                {{#each restaurants as | restaurant |}}
                <div>
                    <div class="card mb-3">
                        <a href="/restaurants/{{restaurant.id}}" class="text-secondary">

                            <img class="card-img-top" src="{{restaurant.image}}" alt="{{restaurant.name}}">
                            <div class="card-body p-3">

                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="card-title mb-1">{{restaurant.name}}</span>

                                    <span class="badge rounded-pill bg-danger font-weight-normal">
                                        {{restaurant.rating}}
                                        <i class="fas fa-star fa-xs"></i>
                                    </span>
                                </div>


                                <div class="restaurant-category mb-1">
                                    <i class="fas fa-utensils pr-2"></i> {{restaurant.category}}
                                </div>

                            </div>
                        </a>
                        <div class="card-footer d-flex justify-content-end border-top p-2">
                            <a class="text-secondary me-3 my-1" href="/restaurants/{{restaurant.id}}/edit"><i
                                    class="fa-regular fa-pen-to-square me-1"></i>Edit</a>
                            <a class="text-secondary me-3 my-1" href="/restaurants/{{restaurant.id}}"><i
                                    class="fa-solid fa-circle-info me-1"></i>Detail</a>
                            <form action="/restaurants/{{restaurant.id}}?_method=DELETE" method="post">
                                <button type="submit" class="btn btn-danger btn-sm border-0 p-1">delete</button>
                            </form>
                        </div>
                    </div>

                </div>

                {{/each}}

            </div>
        </div>
    </div>
</div>
<!-- restaurant list -->


{{!-- 分頁器 --}}
<div class="pagination my-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination">

            <li class="page-item">
                <a class="page-link border border-0" href="/restaurants?keyword={{keyword}}&sortArrangement={{sortValue}}&page={{previousStep}}"><i class="fa-solid fa-backward-step"></i></a>
            </li>

            <li class="page-item">
                <a class="page-link border border-0" href="/restaurants?keyword={{keyword}}&sortArrangement={{sortValue}}&page={{previous}}"><i class="fa-solid fa-caret-left"></i></a>
            </li>

            <li class="page-item-input mx-3">
                <form action="/restaurants" method="get">
                    <input type="text" class="inputPage" name="page" value="{{currentPage}}">
                    <span>of {{totalPage}}</span>
                </form>
            </li>

            <li class="page-item">
                <a class="page-link border border-0" href="/restaurants?keyword={{keyword}}&sortArrangement={{sortValue}}&page={{next}}"><i class="fa-solid fa-caret-right"></i></a>
            </li>

            <li class="page-item">
                <a class="page-link border border-0" href="/restaurants?keyword={{keyword}}&sortArrangement={{sortValue}}&page={{nextStep}}"><i class="fa-solid fa-forward-step"></i></a>
            </li>

        </ul>
    </nav>
</div>
{{!-- 分頁器 --}}


<script src="/css/index.css"></script>